<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.jenny.mapping.UserMapper">

    <!--根据id查询得到一个user对象-->
    <select id="getUser" parameterType="string"
            resultType="main.jenny.PO.User.User">
        select * from test where username=#{username}
    </select>

    <!-- 创建用户(Create) -->
    <insert id="assUser" parameterType="main.jenny.PO.User.User">
        insert into test (id,username,age) values (#{id},#{username},#{age}) on DUPLICATE key update id=#{id},username=#{username},age=#{age};
    </insert>

    <!-- 删除用户(Remove) -->
    <delete id="deleteUser" parameterType="string">
        delete from test where username=#{username}
    </delete>

    <!-- 修改用户(Update) -->
    <update id="updateUser" parameterType="main.jenny.PO.User.User">
        update test set username=#{username},age=#{age} where id=#{id}
    </update>

    <!-- 查询全部用户 -->
    <select id="getAllUsers" resultType="main.jenny.PO.User.User">
        select * from test
    </select>

</mapper>